language: objective-c
before_install:
  - brew update
  - brew list | grep -q -w postgresql && brew unlink postgresql
install:
  - mkdir -p $(brew --repo)/Library/Taps/travis
  - ln -s $PWD $(brew --repo)/Library/Taps/travis/homebrew-testtap
  - brew tap --repair
  - gem install rubocop
env:
  global:
    - SGML_CATALOG_FILES=/usr/local/etc/sgml/catalog
  matrix:
    - PACKAGE=postgresql-8.3
    - PACKAGE=postgresql-8.4
    - PACKAGE=postgresql-9.0
    - PACKAGE=postgresql-9.1
    - PACKAGE=postgresql-9.2
    - PACKAGE=postgresql-9.3
    - PACKAGE=postgresql-9.4
    - PACKAGE=postgresql-9.5 install_opt='--HEAD'
    - PACKAGE=postgresql-common install_opt='--HEAD'
script:
  - rubocop --config=$(brew --repo)/Library/.rubocop.yml ${PACKAGE}.rb
  - brew install --build-bottle -v $install_opt $PACKAGE
  - brew postinstall $PACKAGE
  - case $install_opt in *HEAD*) ;; *) brew bottle --no-revision --root-url="https://github.com/${TRAVIS_REPO_SLUG}/releases/download/${TRAVIS_TAG}" $PACKAGE;; esac
  - case $install_opt in *HEAD*) ;; *) brew audit $PACKAGE;; esac
  - brew test $PACKAGE
deploy:
  provider: releases
  api_key:
    secure: Rl0W8zJATaitqqLigTHjk1JG1JvkW8y5R2E2tpd5rZNy9NtQaS9o+zAMnyjX+TsJhWajL3s41IP7duZ3EyIdoYCsuM9IgJrpoWM1VK5VTvPO3FnZXNCp3W8iTkRP6/KSKTWKrjcgiK2yLOJlPeiQO02OWBvurWpb4Jo0wX16kxk=
  file_glob: true
  file: "*.bottle.tar.gz"
  skip_cleanup: true
  on:
    repo: petere/homebrew-postgresql
    tags: true
